@{
    ViewData["Title"]="Agregar pelicula";
}

<form asp-controller="Home" asp-action="GuardarPelicula" method="post"enctype="multipart/form-data">
    <input type="text"name="Nombre"placeholder="Nombre"> 
    <input type="file"name="arPortada">
    <input type="text"name="Sinopsis"placeholder="Sinopsis">
    <label for="iDuracion">Duracion</label>
    <input type="time"name="Duracion"id="iDuracion">
    <input type="number"name="Año"placeholder="Año">
    <select style="width: 15%; margin:20px;" class="form-select" aria-label="Default select example" name = "IdGenero">
        <option selected>Genero</option>

        @foreach (Genero item in ViewBag.ListaGeneros)
        {
            <option value=@item.IdGenero>@item.NombreGenero</option>
        }
        
    </select>

    
         
        
    <input type="submit"value="Agregar">
</form>
@* falta agregar video *@
