@{
    ViewData["Title"] = "Home Page";
}

<img class = "logoIndex" src = "/logo.png" alt= "Responsive image">

<a href='@Url.Action("Login","Home")'>Login</a>

<div class="row">
    @foreach(Peliculas p in ViewBag.ListaPeliculas){
        <div>
            <img src=".\wwwroot\@p.Portada"alt="@p.Nombre">
            <a src="">@p.Nombre</a>
            <p>Duracion: @p.Duracion.TotalMinutes minutos</p>
        </div>
    }
</div>