@{

    <div class="containerLogin">
        <form class="login-form" method="post" action='@Url.Action("IniciarSesion","Home")'>      
            <input class="estiloNombreUsuario estiloRectangulo1" type="text" name="Nombre"
                placeholder="    Nombre de Usuario" />
            <input class="estiloEmail estiloRectangulo2" type="email" name="Email" placeholder="   Correo electronico" />
            <input class="estiloContraseña estiloRectangulo3" type="password" name="Contraseña"
                placeholder="   Ingrese la contraseña" />
            <input class="estiloSubmit estiloRectangulo4" type="submit" name="Guardar" placeholder="   REGISTRARSE" />
        </form>
    </div>
} 
