@{
    ViewData["Title"] = @ViewBag.Pelicula.Nombre;
}

<div style="text-align: center; padding: 5% 0%;">
    @if (ViewBag.Video == null)
    {
        <div class="alert alert-danger" role="alert">
            Lo sentimos, no pudimos encontrar la pelicula.
        </div>
        <div>@Html.Raw(ViewBag.Pelicula.SrcTrailer)</div>
    }
    else
    {
        <h2>@ViewBag.Pelicula.Nombre</h2>
        <video style="width: 90%" controls src='\@ViewBag.Video.ArchivoVideo'></video>
    }
</div>
