@{
    ViewData["Title"] = @ViewBag.Pelicula.Nombre;
}
@if (ViewBag.Video == null)
{
    <div class="alert alert-danger" role="alert">
        Lo sentimos, no pudimos encontrar la pelicula.
    </div>
}
else
{
    <video src='\@ViewBag.Video.ArchivoVideo'></video>
}
