@{
    ViewData["Title"] = "Administrador de peliculas";
}
<h2 class="h2EnBlanco">PELICULAS - <a href='@Url.Action("AgregarPelicula","Administrador")' class="btn btn-primary"> Agregar una
        pelicula nueva</a></h2>

<div class="row">
    @foreach (Pelicula item in ViewBag.ListaPeliculas)
    {

        <div class="col-3">
            <div class="card-body">
                <div class="card" style="width: 12rem;">
                    <h3 class="card-text"><b
                        style="color: 'white'; font-family: 'Oswald', sans-serif; display: flow-root; text-align:center">@item.Nombre</b>
                    </h3>
                    <div class="card-body" style="padding:0;">
                        <center>
                            <img src="\@item.Portada" class="img2" alt="..." style="width:80%;">
                            <h2> <a href='@Url.Action("EliminarPelicula","Administrador",new{IdPelicula = item.IdPelicula})'
                                class="btn btn-primary"> Eliminar Pelicula</a> </h2>
                        </center>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
