@{
    ViewData["Title"] = "Agregar pelicula";
}

<form asp-controller="Administrador" asp-action="GuardarPelicula" method="post" enctype="multipart/form-data">
    <input type="text" name="Nombre" placeholder="Nombre">
    <input type="file" name="arPortada" id="iPortada">
    <input type="file" name="arVideo" id="iVideo">
    <input type="text" name="Sinopsis" placeholder="Sinopsis">
    <input type="number" name="Año" placeholder="Año">
    <input type="time" hidden="true" id="iDuracion" name="Duracion">
    <input type="submit" value="Agregar">
</form>
<script>
    $(document).ready(function () {
        var vid = $('#iVideo')[0];
        var duracion = vid.duration;
        $('#iDuracion').val(duracion);
    });
</script>
