@{
    ViewData["Title"] = "Agregar pelicula";
}

<form asp-controller="Administrador" asp-action="GuardarPelicula" method="post" enctype="multipart/form-data">
    <input type="text" name="Nombre" placeholder="Nombre">
    <input type="file" name="arPortada" id="iPortada">
    <input type="file" name="arVideo" id="iVideo">
    <input type="text" name="Sinopsis" placeholder="Sinopsis">
    <input type="number" name="Año" placeholder="Año">
    <input type="time"  id="iDuracion" name="Duracion">
    <input type="submit" value="Agregar">
</form>
<script>
    var duracion=new Date(0).getSeconds();
    var video=document.createElement('video');
    document.getElementById("iVideo").addEventListener("change", function() {
        var media = URL.createObjectURL(this.files[0]);
        video.src = media;
        video.onloadedmetadata=function(){
            duracion=new Date(video.duration);
            $('#iDuracion').val(duracion);
        };
        //no funca
    });
</script>
